name: Markdown

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    paths:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mdlint:
    name: Checkstyle
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v19.1.0
